.button {
    width: 100%;
    padding: 15px 30px;
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
}

.button:disabled {
    background-color: #a3a3a3;
}
