
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    background-color: #eee;
    padding: 30px;

}

.button-container {
    height: 100px;
    align-items: flex-end;
    display: flex;
}

.search-container {
    height: 60px;
}

.search-container h1 {
    margin-bottom: 20px;
}

